<div class="container snippetContainer">
    <div class="row">
        <h3>{{viewData.title}}</h3>
    </div>
    <div class="row">
        <div class="col s12">
            <span>By: <a href="/user/{{viewData.author}}">{{viewData.author}}</a></span>
            
            <pre><code class="language-{{viewData.language}} line-numbers">{{viewData.snippetstr}}</code></pre>
            {{#if viewData.isUserSnippet}}
                <a class="btn-small blue" href="/snippets/{{viewData.id}}/edit">Edit</a>
                <a class="btn-small red" href="/snippets/{{viewData.id}}/remove">Delete</a>
            {{/if}}
        </div>
    </div>
    <div class="row">
        <hr>
        <p class="flow-text">{{viewData.description}}</p>
    </div>
</div>

